// Navigation code here
.top-nav-header {
    .flex-layout(flex, center);
    margin: 1% auto;

    h1 {
        font-size: 3rem;
    }
}

.top-nav {
    display: flex;
    justify-content: center;
    

    a {
        color: black;
        text-decoration: none;
        font-size: 1.5rem;
        margin: 1%;
    }
}

.btn {
    border: 1px solid @btn-bg-color;
    background-color: @btn-bg-color;
    .btn-size(3rem, 8rem);
    border-radius: .5rem;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    padding-top: 2%;
}